<body>
  <header>
    <div class="logo">OLD SCHOOL</div>
  </header>

  <main class="carrito-container">
    <h2 class="titulo-carrito">Carrito de Compras</h2>
    <script src="public/js/carro.js"></script>

    <table class="tabla-carrito">
      <thead>
        <tr>
          <th>Tus Productos</th>
       
        </tr>
      </thead>
      <tbody id="cart-items">
        <!-- Aquí se insertan los productos -->
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" class="texto-total">Total General:</td>
          <td id="cart-total" class="valor-total">$0 COP</td>
        </tr>
      </tfoot>
    </table>

    <div class="botones-carrito">
      <a href="/miscelanea">
        <button class="btn-seguir">Seguir Comprando</button>
      </a>
      
    </div>
  </main>
</body>
