<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ropa</title>
</head>
<body>
    <main class="main">
        <div class="contenedor">

            <div class="box oferta" data-category="hombre">
                <figure>
                    <img src="asset/img/Buso los angeles blanco.jpg" class="imagenes" alt="Buso los angeles blanco">
                </figure>
                <div class="contenido">
                    <p>BUZO ANGELES</p>
                    <p class="price">
                        <span class="original-price">$180.000</span><br>
                        <span class="discounted-price">$140.000</span>
                    </p>
                    <button class="submit" type="button" onclick="window.location.href='/ventas'">COMPRAR</button>
                </div>
            </div>

            <div class="box oferta" data-category="hombre">
                <figure>
                    <img src="asset/img/UNOFF CALL NEGRO.jpg" class="" width="200 px" height="120%" alt="UNOFF CALL NEGRO">
                </figure>
                <div class="contenido">
                    <p>BUZO UNOFF NEGRO</p>
                    <p class="price">
                        <span class="original-price">$190.000</span><br>
                        <span class="discounted-price">$150.000</span>
                    </p>
                    <button class="submit" type="button" onclick="window.location.href='/ventas'">COMPRAR</button>
                </div>
            </div>

            <div class="box oferta" data-category="hombre">
                <figure>
                    <img src="asset/img/Buzo Movement beach.jpeg" class="imagenes" alt="Buzo Movement beach">
                </figure>
                <div class="contenido">
                    <p>BUZO MOVEMENT</p>
                    <p class="price">
                        <span class="original-price">$220.000</span><br>
                        <span class="discounted-price">$170.000</span>
                    </p>
                    <button class="submit" type="button" onclick="window.location.href='/ventas-movement'">COMPRAR</button>
                </div>
            </div>

            <div class="box oferta" data-category="hombre">
                <figure>
                    <img src="asset/img/LAKERS MORADO.jpg" class="imagenes" alt="LAKERS MORADO">
                </figure>
                <div class="contenido">
                    <p>BUZO LAKERS</p>
                    <p class="price">
                        <span class="original-price">$190.000</span><br>
                        <span class="discounted-price">$130.000</span>
                    </p>
                    <button class="submit" type="button" onclick="window.location.href='/ventas-lakers'">COMPRAR</button>
                </div>
            </div>

            <div class="box oferta" data-category="hombre">
                <figure>
                    <img src="asset/img/for one 2 (3).jpeg" class="imagenes" alt="fOR ONE">
                </figure>
                <div class="contenido">
                    <p>FOR ONE CLASICA</p>
                    <p class="price">
                        <span class="original-price">$180.000</span><br>
                        <span class="discounted-price">$120.000</span>
                    </p>
                    <button class="submit" type="button" onclick="window.location.href='/ventas-for-one'">COMPRAR</button>
                </div>
            </div>

            <div class="box oferta" data-category="hombre">
                <figure>
                    <img src="asset/img/Jordan Retro.jpeg" class="imagenes" alt="JORDAN RETRO">
                </figure>
                <div class="contenido">
                    <p>JORDAN RETRO</p>
                    <p class="price">
                        <span class="original-price">$190.000</span><br>
                        <span class="discounted-price">$150.000</span>
                    </p>
                    <button class="submit" type="button" onclick="window.location.href='/ventas-jordan3'">COMPRAR</button>
                </div>
            </div>

            <div class="box oferta" data-category="hombre">
                <figure>
                    <img src="asset/img/Jordan 4 negras.webp" class="imagenes" alt="JORDAN RETRO NEGRAS">
                </figure>
                <div class="contenido">
                    <p>JORDAN RETRO 4</p>
                    <p class="price">
                        <span class="original-price">$180.000</span><br>
                        <span class="discounted-price">$130.000</span>
                    </p>
                    <button class="submit" type="button" onclick="window.location.href='/ventas-jordan4'">COMPRAR</button>
                </div>
            </div>

            <div class="box oferta" data-category="hombre">
                <figure>
                    <img src="asset/img/Lv Stake 1.jpeg" class="imagenes" alt="LV STAKE">
                </figure>
                <div class="contenido">
                    <p>LV STAKE</p>
                    <p class="price">
                        <span class="original-price">$180.000</span><br>
                        <span class="discounted-price">$130.000</span>
                    </p>
                    <button class="submit" type="button" onclick="window.location.href='/ventas-stake'">COMPRAR</button>
                </div>
            </div>

        </div>
    </main>
</body>
</html>