<div class="container-sm">
  <form [formGroup]="form">
    <h3 class="form-title">Registrarse</h3>

    <!-- Documento -->
    <div class="mb-3">
  <label class="form-label" for="idEmpleado">Documento</label>
  <input type="text" id="idEmpleado" class="form-control" formControlName="idEmpleado" placeholder="Ingrese su documento">
  <div class="text-danger" [hidden]="form.controls['idEmpleado'].valid || form.controls['idEmpleado'].untouched">
    ⚠️ El documento debe tener exactamente <strong>10 números</strong>.
  </div>
</div>


    <!-- Nombre -->
    <div class="mb-3">
  <label class="form-label" for="nombreEmpleado">Nombre</label>
  <input type="text" id="nombreEmpleado" class="form-control" formControlName="nombreEmpleado" placeholder="Ingrese su nombre completo">
  <div class="text-danger" [hidden]="form.controls['nombreEmpleado'].valid || form.controls['nombreEmpleado'].untouched">
    ⚠️ El nombre solo puede contener <strong>letras</strong>.
  </div>
</div>


    <!-- Correo -->
    <div class="mb-3">
  <label class="form-label" for="correoEmpleado">Correo</label>
  <input type="text" id="correoEmpleado" class="form-control" formControlName="correoEmpleado" placeholder="Ingrese su correo electrónico">
  <div class="text-danger" [hidden]="form.controls['correoEmpleado'].valid || form.controls['correoEmpleado'].untouched">
    ⚠️ Introduzca un correo válido con "<strong>&#64;</strong>".
  </div>
</div>


    <!-- Contraseña -->
   <div class="mb-3">
  <label class="form-label" for="passwordEmpleado">Contraseña</label>
  <div class="input-group">
    <input 
      [type]="showPassword ? 'text' : 'password'" 
      id="passwordEmpleado"
      class="form-control" 
      formControlName="passwordEmpleado"
      placeholder="Crea una contraseña segura"
    >
    <button type="button" class="btn btn-outline-secondary" (click)="togglePassword()">
      <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
    </button>
  </div>
  <div class="text-danger"
    [hidden]="form.controls['passwordEmpleado'].valid || form.controls['passwordEmpleado'].untouched">
    ⚠️ La contraseña debe contener al menos <strong>una letra y un número</strong>.
  </div>
</div>


    <button type="button" (click)="onSubmit()" class="btn btn-primary">Guardar</button>
  </form>
  

  <!-- Mensaje de éxito (si el registro fue exitoso) -->
  <div *ngIf="registroExitoso" class="alert alert-success mt-3" role="alert">
    ✅ Te registraste correctamente.
  </div>
</div>
